@import url(./global-rules.css);
@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap");

:root {
  --primary-color: #5865f2;
  --dark-not-black: #2c2f33;
  --off-white: #f6f6f6;
  --not-quite-black: #23272a;
  --white: #fff;
}
/*Start navbar*/
header nav {
  height: 80px;
  padding: 30px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 24px;
  font-family: "Rufina", serif;
}
@media (max-width: 992px) {
  nav .logo {
    font-size: 22px;
  }
}
.nav-icon {
  display: none;
  font-size: 30px;
  border: none;
  cursor: pointer;
  color: var(--off-white);
  background-color: transparent;
  z-index: 1000;
}
.nav-icon:focus {
  outline: none;
}
.nav-icon:active {
  outline: none;
}
nav .nav-links {
  flex: 0.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  nav .nav-links {
    flex: 0.72;
  }
}
@media (max-width: 992px) {
  nav .nav-links {
    flex: 0.85;
  }
}
nav .nav-links li a {
  text-decoration: none;
  color: var(--off-white);
  transition: color 0.3s;
}
nav .nav-links li a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
.login-btn,
.singup-btn {
  font-family: inherit;
  text-decoration: none;
  border-radius: 40px;
  font-size: 14px;
  padding: 10px 16px;
  background-color: var(--primary-color);
  color: var(--white);
  box-shadow: 0 2px 10px rgb(0 0 0, 0.05);
  transition: all 0.2s;
}
.login-btn:hover,
.singup-btn:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  filter: brightness(1.2);
  text-decoration: none !important;
  color: var(--white) !important;
}

@media (max-width: 787px) {
  nav .nav-links {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    inset: 0 0 0 30%;
    padding: 100px 40px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  nav .nav-links li a {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 60px;
  }
  .nav-icon {
    display: block;
  }
  .visible {
    transform: translateX(100%);
  }
  .show {
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }
}
/*End navbar*/

/*Start Main*/
.main {
  padding-top: 40px;
  padding-bottom: 40px;
}
.main .section-header {
  position: relative;
  text-align: center;
  color: var(--white);
  margin-bottom: 40px;
  z-index: -1;
}
.main .section-header::after {
  position: absolute;
  content: " ";
  width: 123px;
  height: 3px;
  background-color: var(--primary-color);
  transform: translateX(-100%);
  bottom: -10px;
}
.main .container {
  background-color: rgba(0, 0, 0, 0.2);
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 7px;
}
.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cards-container .card {
  width: 220px;

  padding: 15px 5px;
}
.cards-container .card .movie-img {
  width: 100%;
  margin-bottom: 10px;
}
.cards-container .card .movie-info {
  margin-bottom: 20px;
}
.cards-container .card .movie-info h3 {
  color: var(--off-white);
  margin-bottom: 10px;
}
.cards-container .card .movie-info span {
  display: block;
  background-color: #262729;
  font-size: 14px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.cards-container .card .movie-info span.red {
  color: red;
}
.cards-container .card .movie-info span.green {
  color: lightgreen;
}
.cards-container .card .movie-info span.orange {
  color: orange;
}
.cards-container .card .showtimes-btn {
  font-family: inherit;
  font-size: 14px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--white);
  box-shadow: 0 2px 10px rgb(0 0 0, 0.05);
  transition: all 0.2s;
  cursor: pointer;
}
.showtimes-btn:focus {
  outline: none;
}
.showtimes-btn:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  filter: brightness(0.9);
}

/*End Main*/
